html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #424250;
}
.container{
  margin: 80px 2% 0 10%;
}
.nav-container{
  margin: auto;
}
.nav-container svg{
  color: #ffffff
}
a{
  text-decoration: none;
}