:root{
  --text-primary: #C5C6C7;
  --text-primary-onHover: #FFFFFF;
  --text-secondary: #000000;

  --bg-primary: #33333d;
  --bg-primary-dark: #0B0C17;
  --bg-primary-light: #1F2833;

  --bg-secondary: #66FCF1;
  --bg-secondary-dark: #16c8be;
  --bg-secondary-light: #62ecb0;

  --transtition-speed: 600ms;

}

html,
body{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #1F2833;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.2rem;
  overflow: scroll;
}
body::-webkit-scrollbar-track{
  background: #0B0C17;
}
body::-webkit-scrollbar-thumb{
  background: #16c8be;
  overflow: auto;
}

.container{
  margin: 0 0 0 5rem;
  padding: 1rem;
}
.content-container{
  margin-top: 4rem;
}

.sidebar-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--bg-primary-dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}
#logo-text {
  color: var(--text-primary-onHover);
}
.sidebar-logo svg {
  transform: rotate(0deg);
  transition: transform var(--transtition-speed);
}
.sidebar:hover #sidebar-logo-link {
  filter: grayscale(0%) opacity(1);
}
.sidebar:hover .logo-text{
  color: var(--text-primary-onHover);
}
.sidebar:hover .sidebar-logo svg {
  transform: rotate(-180deg);
}

.sidebar{
  position: fixed;
  background-color: var(--bg-primary-dark);
  z-index: 1200;
  transition: width 200ms ease;
}
.sidebar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative,
}
.sidebar-item{
  width: 100%;
}
.sidebar-link{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transtition-speed);
}
.sidebar-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-primary);
}
.sidebar-link:hover .link-text{
  color: var(--text-primary-onHover);
}
.sidebar-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 2rem;
  color: var(--bg-secondary);
}
.link-text{
  display: none;
  color: var(--text-primary);
  margin-left: 1rem;
  white-space: nowrap;
}

.nav-container{
  margin: auto 25% auto auto;
}
.nav-container svg{
  color: var(--text-primary);
}
a{
  text-decoration: none;
}

.MuiPopover-paper ul {
  background-color: var(--bg-primary-light);
}
.MuiAutocomplete-popper * {
  background-color: var(--bg-primary-light);
}
.MuiAutocomplete-clearIndicator {
  color: var(--text-primary-onHover) !important;
}
.MuiAutocomplete-popper div {
  color: var(--text-primary);
}

#card {
  background-color: var(--bg-primary);
  position: relative;
  display: flex;
  padding: 15px;
  border: 2px solid transparent;
  transition: var(--transtition-speed);
}
#card:hover {
  border: 2px solid white;
}

@media only screen and (max-width: 1200px) {
  .nav-container {
    margin: auto;
  }
}

/* Big Screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .sidebar:hover {
    width: 16rem;
  }
  .sidebar:hover .link-text {
    display: inline;
    transition: opacity var(--transtition-speed);
  }
  #logout-link{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .grid-container {
    flex-direction: row;
  }
  .grid-profile {
    max-width: 100%;
  }
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .sidebar-logo {
    display: none
  }
  .sidebar-nav {
    flex-direction: row;
  }
  .sidebar-link {
    justify-content: center;
  }
  #logout-link{
    position: relative;
    bottom: auto;
  }
  .sidebar-link svg {
    min-width: 0.8rem;
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--bg-secondary);
  }

  .container {
    margin: 0 0 5rem 0;
  }

  .grid-container {
    flex-direction: column;
  }
  .grid-profile {
    max-width: 100%;
  }
}